# Ignore a directory named "node_modules"
node_modules/

# Ignore a specific file named "config.json"
config.json

# Ignore all files with a .log extension
*.log

.history/

.gitignore


# Stage all changes except .DS_Store and .gitignore
git add --all :!/.DS_Store :!/.gitignore

# Commit the changes
git commit -m "Your commit message here"

